* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  border-left: 3px solid #2093dc !important;
  border-radius: 0 !important;
  background-color: #eeeeee !important;
}
.SubmitForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50rem;
  align-items: center;
  border: 2px solid rgb(32, 69, 71);
  padding: 3rem 4rem;
  border-radius: 20px 1px;
}

.Login {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgba(127, 121, 121, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.projDiv {
  display: flex;
  width: 100%;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  padding: 4rem 5rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.loginField {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.projMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.body
{
    
    height: 94vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box  {
  
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center ;
    margin-top: 20px;
    width: 500px;
    height: 92vh;
    border: 1px;
    gap: 40px;
    
}


#text
{
    font-size: 3.2rem;
    text-align: center;
    font-weight: 900;
    height: fit-content;
    padding-right: 6px;
    color: rgba(0, 0, 0, 0.771);
}
#btn{
    width: 300px;
    height: 50px;
    border: 1px solid rgb(245, 239, 239) ;
    border-radius: 50px;
    background-color: rgba(90, 224, 90,0.9);
    font-size: 25px;
    box-shadow: -9px 12px 8px 0px #666 ; 
    
   
}

.navbar{
  margin-bottom: 0 !important;
}

.ramu{
  /* color: white; */
  font-weight: 900;
  font-size: 5rem;
}

.content{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 100px 0;
  align-items: center;
}
.txt{
  width: 50%;
  height: 80%;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.txt p{
  font-size: 28px;
  line-height: 46px;
  /* color: #fff; */
}

.img{
  position: relative;
  width: 500px;
  height: 500px;
  background: radial-gradient(520px, #f08f538c, transparent 50%);
  margin-top: -50px;
}
.email-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social-icons{
  height: 100%;
  animation: rotation 60s linear infinite;
}
@keyframes rotation {
  100%{
      transform: rotate(360deg);
  }
}
.social-icons img{
  position: absolute;
}
.social-icons img:nth-child(1){
  top: 0;
  left: 42%;
}
.social-icons img:nth-child(2){
  top: 25%;
  right: 0;
}
.social-icons img:nth-child(3){
  top: 70%;
  left: 70%;
}
.social-icons img:nth-child(4){
  top: 25%;
  left: 0;
}
.social-icons img:nth-child(5){
  top: 70%;
  left: 10%;
}