.active {
    border-left: 3px solid #2093DC !important;
    border-radius: 0 !important;
    background-color: #eeeeee !important;
}
.SubmitForm{
    max-width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}